{% extends 'base2.html' %}
    {% block content %}
                <h1 align="center"> Lista dei prodotti </h1><br>
                    {% for cat in catalogo %}
                    <div class="prodotti" align="center">
                        <img src="{{ cat.immagine.url }}"/><br><br>
                        <div class="name">
                            {{ cat }}<br>
                        </div>
                        Prezzo: {{ cat.prezzo }}<br>
                        Categoria: {{ cat.categoria }}<br>
                        Pezzi disponibili: {{ cat.qta_disponibile }}<br>
                        Stelle: {{ cat.media_valutazione }}<br>
                        Descrizione: {{ cat.descrizione }}<br>
                        {% if user.is_authenticated %}
                            {% if cat.qta_disponibile == 0 %} 
                                <a class="btn1"  role="button">prodotto finito</a>   
                            {% else %}
                                <button class="btn1" onclick="Carrello({{ cat.id_prodotto }})">
                                    Aggiungi al carello
                                </button>
                            {% endif %}
                        {% else %} 
                            <a class="btn1"  role="button">Utente non loggato</a>
                        {% endif %}
                    </div> 
                    <br><br>         
                    {% endfor %}
                    {% if user.is_authenticated  %}
                    {% else %}
                    <center>  
                        <a href="{% url 'login' %}" class="btn1">Accedi</a>&nbsp<a href="{% url 'registrazione' %}" class="btn1">Registrati</a>
                    </center>   
                    {% endif %}   

        </div>
        </div>
        <script>
            function Carrello(prodotto){
                {% for c in catalogo %}
                    if ({{ c.id_prodotto }} == prodotto){
                    window.location.replace('http://127.0.0.1:8000/prodotti/carrello/{{c.id_prodotto}}');
                }
                {% endfor %}
                }
        </script>
        {% endblock %}
