{% extends 'base2.html' %}
{% block content %}
    <h1 align="center">Carrello</h2>
        {% for c in carrello %}
            <div class="prodotti" align="center">
                <img src="{{ c.prodotto.immagine.url }}"/><br>
                <div class="name">
                            {{ c.prodotto }}<br>
                        </div>
                        Prezzo: {{ c.prodotto.prezzo }} al pezzo<br>
                        Quantità richiesta: {{ c.qta_richiesta }}<br>

                        <button class="btn1" onclick="Modifica({{c.id}})">Modifica ordine</button>
                        <button class="btn1" onclick="Cancella({{c.id}})">Cancella ordine</button>
                    </div> 
                    <br><br>         
                    {% endfor %} 
                    {% if user.is_authenticated %}
                    <center>
                        <h3> costo totale {{ totale }}</h3>
                        <button class="btn1" onclick="Acquisto()">
                            Acquista
                        </button>
                    </center>
                    {% else %}
                        <center>
                            <a class="btn1"  role="button">Utente non loggato</a>
                        </center>
                    {% endif %}     
        </div>
        </div>
        <script>
            function Acquisto(){
                window.location.replace('http://127.0.0.1:8000/prodotti/acquisto/');
                }
        </script>

        <script>
            function Modifica(prodotto){
                {% for v in carrello %}
                     if ({{v.id}} == prodotto){
                        window.location.replace('http://127.0.0.1:8000/prodotti/modifica/{{v.id}}');
                    }
                {% endfor %}
            }
        </script>

        <script>
            function Cancella(prodotto){
                {% for v in carrello %}
                     if ({{v.id}} == prodotto){
                        window.location.replace('http://127.0.0.1:8000/prodotti/cancella/{{v.id}}');
                    }
                {% endfor %}
            }
        </script>
{% endblock content %}







