{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div class="headerimg">
        <img src="{% static 'imgs/provablumen.jpg' %}">
    </div>
    <br>
    <h1 align="left">Chi siamo</h1>
    <br><br>
    <h2 align="left">Le origini del gruppo</h2>
    <p align="left">
        Le origini del Blumen Group risalgono agli anni ’20, quando il suo fondatore mosse i primi passi in un mercato ancora unbranded. Da allora molta strada è stata fatta
        ed oggi Blumen Group, dopo anni e anni di esperienza, può fregiarsi del titolo di protagonista nel mercato delle sementi per l’orto ed il giardino, sia nel settore<br>
        hobbistico sia in quello professionale.
    </p>
    <br><br>
    <h3 align="left">Le origini del gruppo</h3>
    <br>
    <h2 align= "left"> Dalla ricerca alla qualità dei prodotti</h2>
    <p align="left">
        Ricerca, innovazione, servizio e qualità dei prodotti sono gli elementi distintivi del successo del Gruppo, che dalle sementi ha allargato la sua esperienza anche al mercato dei concimi, 
        dove ha saputo in breve tempo ritagliarsi un ruolo da protagonista.
        Gli ultimi 20 anni sono stati determinanti nella crescita del Gruppo, che oggi rappresenta un esempio di polo di aggregazione di piccole e medie aziende del settore, riconosciute come eccellenze italiane.
         Questo processo di crescita è stato accompagnato da importanti investimenti in R&S, finalizzata all’ottenimento di varietà orticole che si distinguono non solo per le qualità estetiche ma soprattutto per le caratteristiche di “sapore”.
    </p>

{% endblock content %}