
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <head>
            <meta charset="UTF-8">
            <title> Tobi store| Ecommerce Agrario </title>
             <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            
        <div class="container">
            <div class="navbar">
                <div class="logo"><br>
                    <img src="{% static "imgs/logo.png" %}" width="125px">
                    <h1>Tobi Store </h1>
                </div>
                {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'prodotti:catalogo' %}">Product</a></li>
                        <li><a href="{% url 'prodotti:storico' %}">Storico</a></li>
                        <li><a href="{% url 'chisiamo' %}">About</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% if user.is_superuser == 1 %}
                        <li><a href="http://127.0.0.1:8000/admin/">Pannello admin</a></li>
                        <li><a href="http://127.0.0.1:8000/admin/prodotti/prodotto/add/">Aggiungi Prodotto</a></li>
                        {% endif %}
                        <li><button onclick=Funzione()><img src={% static "imgs/carrello-pieno.png" %} width="30px" height="30px"></button></li>
                    </ul>
                </nav>
                {% else %}
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'prodotti:catalogo' %}">Product</a></li>
                        <li><a href="{% url 'chisiamo' %}">About</a></li>
                        <li><a href="{% url 'login' %}">Accedi</a></li>
                        <li><a href="{% url 'registrazione' %}">Registrati</a></li>
                        <li><button onclick=Funzione()><img src={% static "imgs/carrello-vuoto.png" %} width="30px" height="30px"></button></li>
                    </ul>
                </nav>
                {% endif %}
                
                <script>
                    function Funzione(){
                        window.location.replace('http://127.0.0.1:8000/prodotti/prenotazione/')
                    }
                </script>
            </div>

            {% block content %}

            {% endblock %}

        </div>
        <!--footer-->
    <div class='footer'>
        <div class="container">
            <div class="row">
                <div class="f-col-1">
                    <h3> Downloads our app</h3>
                    <p>Download le app per android e per ios mobile </p>
                    <div class="app-logo">
                        <img src="{% static "imgs/ps-logo.jpg" %}">
                        <img src="{% static "imgs/as-logo.png" %}">
                    </div>
                </div>
                <div class="f-col-2">
                    <center>
                        <img src="{% static "imgs/logo.png" %}">
                        <p>Sempre alla ricerca di nuovi benefits per voi </p></center>
                   
                </div>
                <div class="f-col-3">
                    <h3> Link utili</h3>
                    <ul>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">Coupons</a></li>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">policy</a></li>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">Join Affiliate</a></li>
                    </ul>
                    
                </div>
                <div class="f-col-4">
                    <h3> Seguici anche </h3>
                    <ul>
                        <li><a href="https://it-it.facebook.com/pagina.diprova.5/" style="color:#FFF">Facebook</a></li>
                        <li><a href="https://twitter.com" style="color:#FFF">Twitter</a></li>
                        <li><a href="https://www.instagram.com/piante.it/" style="color:#FFF">instagram</a></li>
                    </ul>
                </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2022 -  Danilo Bellocchio </p>

            </div>

</body>
</html>
