{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}  
{% block content %}
            <h2>Pagina di Registrazione</h2>
            <p>Si prega di compilare i campi necessari</p> 
            <div>
              <form method="post"> {% csrf_token %}
              {{form | crispy}}
              <input type="submit" class="btn btn-success" value="Registrati ora!">
            </form>
            </div>
{% endblock content %}