{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
            <h2> Pagina di login</h2>
            <p>Si prega di compilare i campi necessari</p>
            {% if "notok" in request.GET.auth %}
                <div class="alert alert-danger" role="alert">
                    Si è arrivati qui in quanto non si dispone dei permessi necessari per il servizio scelto!
                </div>
            {% endif %}
            <form method="post"> {% csrf_token %}

                {{form | crispy}}
                <br>
                <input type="submit" class="btn btn-success" value="Esegui login">
                </form>
                <br>
        {% endblock content %}
              
