{% extends 'base.html' %}
{% block content %}
    <div class="carrello" align="center">
        <h1 align="center">Aggiungi al carrello</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="prodotti">
                    <img src="http://127.0.0.1:5000/static/imgs/{{ prodotto_car.immagine }}"/><br>
                    <div class="name">
                        {{ prodotto_car }}
                    </div>  
                <div class="form-group">
                    {{ form.qta_richiesta.label(class="form-control-label") }}
                    {% if form.qta_richiesta.errors %}
                        {{form.qta_richiesta(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.qta_richiesta.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}

                        {{ form.qta_richiesta(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class='btn2')}}
            </div>
        </form>
    </div>
<br><br>
{% endblock content %}