<!DOCTYPE html>
<html lang="en"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
            <meta charset="UTF-8">
            <title> Tobi store| Ecommerce Agrario </title>
             <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet"> 
    </head>
    <body>

            <div class="header">
                <center>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </center>
                <div class="container">
                    <div class="navbar">

                        <div class="logo">
                            <img src="{{ url_for('static',filename='imgs/logo.png') }}" width="125px">
                        </div>
                        {% if current_user.is_authenticated %}
                            <nav>
                                <ul>
                                    <li><a href="{{url_for('homepage')}}">Home</a></li>
                                    <li><a href="{{url_for('prodotti')}}">Product</a></li>
                                    <li><a href="{{url_for('AboutUs')}}">About</a></li>
                                    <li><a href="{{url_for('storico')}}">Storico</a></li>
                                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                                    {% if current_user.id == 1 %}
                                    <li><a href="{{url_for('admin.index')}}">Pannello admin</a></li>
                                    <li><a href="{{url_for('add_prod')}}">Aggiungi prodotto</a></li>
                                    {% endif %}
                                    <button onclick=Funzione()><img src="{{ url_for('static',filename='imgs/carrello-vuoto.png') }}" width="30px" height="30px"></button>
                                </ul>
                            </nav>
                            {% else %}
                            <nav>
                                <ul>
                                    <li><a href="{{url_for('homepage')}}">Home</a></li>
                                    <li><a href="{{url_for('prodotti')}}">Product</a></li>
                                    <li><a href="{{url_for('AboutUs')}}">About</a></li>
                                    <li><a href="{{url_for('login')}}">Accedi</a></li>
                                    <li><a href="{{url_for('registrati')}}">Registrati</a></li>
                                    <button onclick=Funzione()><img src="{{ url_for('static',filename='imgs/carrello-vuoto.png') }}" width="30px" height="30px"></button>
                                </ul>
                            </nav>
                            {% endif %}
                        <script>
                            function Funzione(){
                                window.location.replace('http://127.0.0.1:5000/prenotazione/')
                            }
                        </script>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h1>Tobi Store</h1>
                            {% if current_user.is_authenticated %}
                                <h3> Login effetuato come  {{ current_user }}, Benvenuto</h3>
                                <p>
                                    <br>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.<br> Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.<br>
                                </p>
                                <a href="{{url_for('prodotti')}}" class="btn32" style="color:#FFF" >Vai al catalogo &#8594</a>
                            {% else %}
                                <h3> Benvenuto ospite</h3>
                                <p>
                                    <br>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.<br> Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.<br>
                                </p>
                                <a href="{{url_for('prodotti')}}" class="btn32" style="color:#FFF" >Vai al catalogo &#8594</a>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <img src="{{ url_for('static',filename='imgs/sementi2.png') }}" 
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="categories">
                <div class="small-container">
                    <h2 class="title1"> Categories </h2>
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ url_for('static',filename='imgs/frutta-verdura.png') }}">
                            <h4>Frutta e verdura</h4>
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static',filename='imgs/fiori.png') }}">
                            <h4>Bulbi da fiore</h4>
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static',filename='imgs/animali.png') }}">
                            <h4>Prodotti per animali</h4>
                        </div>
                    </div>
                </div>
            </div>

  <!--footer-->
  <div class='footer'>
    <div class="container">
        <div class="row">
            <div class="f-col-1">
                <h3> Downloads our app</h3>
                <p>Download le app per android e per ios mobile </p>
                <div class="app-logo">
                    <img src="{{ url_for('static', filename='imgs/ps-logo.jpg') }}">
                    <img src="{{ url_for('static', filename='imgs/as-logo.png') }}">
                </div>
            </div>
            <div class="f-col-2">
                <img src="{{ url_for('static',filename='imgs/logo.png') }}">
                <p>Sempre alla ricerca di nuovi benefits per voi </p>
               
            </div>
            <div class="f-col-3">
                <h3> Link utili</h3>
                <ul>
                    <li><a href="https://vargiuweb.it" style="color:#FFF">Coupons</a></li>
                    <li><a href="https://vargiuweb.it" style="color:#FFF">policy</a></li>
                    <li><a href="https://vargiuweb.it" style="color:#FFF">Join Affiliate</a></li>
                </ul>
                
            </div>
            <div class="f-col-4">
                <h3> Seguici anche </h3>
                <ul>
                    <li><a href="https://it-it.facebook.com/pagina.diprova.5/" style="color:#FFF">Facebook</a></li>
                    <li><a href="https://twitter.com" style="color:#FFF">Twitter</a></li>
                    <li><a href="https://www.instagram.com/piante.it/" style="color:#FFF">instagram</a></li>
                </ul>
            </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2022 -  Danilo Bellocchio </p>
    </div>
</div>
</body>
</html>