{% extends 'base.html' %}
{% block content %}
<div class="center" align="center">
    <h1 align="center">Modifica Prodotto</h1>
<br>    
    <form method="POST" action="" enctype = multipart/form-data>
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                {{ form.qta_modifica.label(class="form-control-label") }}
                {% if form.qta_modifica.errors %}
                    {{form.qta_modifica(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.qta_modifica.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                {% else %}
                    {{ form.qta_modifica(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn2')}}
        </div>
    </form>
</div>
{% endblock  content %}