{% extends 'base.html' %}
{% block content %}
<div class="center" align="center">
    <h1 align="center">Aggiungi Recensione</h1>
    <p align="center"> si prega di compilare tutti i campi</p><br><br>
    
    <form method="POST" action="" enctype = multipart/form-data>
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                <h3>Il voto deve andare da 1 a 10</h3>
                {{ form.voto.label(class="form-control-label") }}
                {% if form.voto.errors %}
                    {{form.voto(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.voto.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                {% else %}
                    {{ form.voto(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn2')}}
        </div>
    </form>
</div>
{% endblock  content %}
